<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Curso</th>
        <th>Horas</th>
        <th>Cuatrimestre</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="i, iterator : ${asignaturas}">
        <th><span th:text="${i.nombre}"></span></th>
        <th><span th:text="${i.curso}"></span></th>
        <th><span th:text="${i.horas}"></span></th>
        <th><span th:text="${i.cuatrimestre}"></span></th>
        <th><input type="checkbox" th:value="${iterator.index}" th:name="id"></th>
    </tr>
    </tbody>
</table>
</body>
</html>