<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="${css_permisos}" rel="stylesheet">
</head>
<body>
<form action="#" name="listado" id="listado">
    <table>
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Curso</th>
            <th>Horas</th>
            <th>Cuatrimestre</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="i : ${asignaturas}">
            <th><span th:text="${i.nombre}"></span></th>
            <th><span th:text="${i.curso}"></span></th>
            <th><span th:text="${i.horas}"></span></th>
            <th><span th:text="${i.cuatrimestre}"></span></th>
            <th><input class="sin_admin" type="radio" th:value="${i.id}" th:name="ids"></th>
        </tr>
        </tbody>
    </table>
    <input class="sin_admin" type="submit" value="Actualizar" onclick="update()">
    <input class="sin_admin" type="submit" value="Borrar" onclick="deletes()">

</form>
</body>
<script th:inline="javascript">
    const form = document.getElementById("listado");
    function update(){
        form.setAttribute('action', 'updateasignaturasget')
        form.setAttribute('method', 'get')
    }
    function deletes(){
        form.setAttribute('action', 'delasignaturaspost')
        form.setAttribute('method', 'post')
    }
</script>
</html>