<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../../static/css/comun.css" rel="stylesheet">
    <link th:href="${css_permisos}" rel="stylesheet">
    <link href="../../static/css/asignaturas/listasignaturas.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="../../static/js/asignaturasjs.js"></script>

</head>
<body>
<header>
    <h1>Colegio Universitario Internacional BITCOIN</h1>
</header>
<main>
    <div class="centro">
        <form id="listado" name="listado">
            <div class="tabla">
                <table>
                    <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Curso</th>
                        <th>Horas</th>
                        <th>Cuatrimestre</th>
                        <th>Seleccion</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="i : ${asignaturas}">
                        <th><span th:text="${i.nombre}"></span></th>
                        <th><span th:text="${i.curso}"></span></th>
                        <th><span th:text="${i.horas}"></span></th>
                        <th><span th:text="${i.cuatrimestre}"></span></th>
                        <th><input class="sin_admin" type="radio" th:value="${i.id}" th:name="ids"></th>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="botones">
                <input class="sin_admin btn btn_update" id="update" type="submit" value="Actualizar" onclick="update()">
                <input class="sin_admin btn btn_delete" id="delete" type="submit" value="Borrar" onclick="deletes()">
            </div>
        </form>
    </div>
</main>
<footer>
    <h6>Creado por Carlos Castillo</h6>
</footer>
</body>
</html>