<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../../static/css/comun.css" rel="stylesheet">
    <link href="../../static/css/asignaturas/listasignaturas.css" rel="stylesheet">
    <link href="../../static/css/Alumnos/formalumnos.css" rel="stylesheet">
</head>
<header>
    <h1>Colegio Universitario Internacional BITCOIN</h1>
    <input class="btn boton_menu" type="button" onclick="menu();" value="Menu">
</header>
<main>
    <div class="centro">
        <h1>Modificacion de Asignaturas</h1>
        <form action="#" th:action="@{/updateasignaturaspost}" method="post">
            <input type="hidden" th:field="${asignatura.id}">
            <div class="campos">
                <div class="campo">
                    Nombre:
                    <input class="campo" type="text" th:field="${asignatura.nombre}">
                    <div>
                        <span th:if="${#fields.hasErrors('asignatura.nombre')}" th:errors="*{asignatura.nombre}"
                              style="color: red"></span>
                    </div>
                </div>
                <div class="campo">
                    Curso:
                    1º<input type="radio" value="1" th:field="${asignatura.curso}">
                    2º<input type="radio" value="2" th:field="${asignatura.curso}">
                    3º<input type="radio" value="3" th:field="${asignatura.curso}">
                    4º<input type="radio" value="4" th:field="${asignatura.curso}">
                    <div>
                        <span th:if="${#fields.hasErrors('asignatura.curso')}" th:errors="*{asignatura.curso}"
                              style="color: red"></span>
                    </div>
                </div>
                <div class="campo">
                    Horas
                    <input type="number" th:field="${asignatura.horas}">
                    <div>
                        <span th:if="${#fields.hasErrors('asignatura.horas')}" th:errors="*{asignatura.horas}"
                              style="color: red"></span>
                    </div>
                </div>
                <div class="campo">
                    Cuatrimestre
                    1º<input type="radio" value="1" th:field="${asignatura.cuatrimestre}">
                    2º<input type="radio" value="2" th:field="${asignatura.cuatrimestre}">
                    <div>
                        <span th:if="${#fields.hasErrors('asignatura.cuatrimestre')}"
                              th:errors="*{asignatura.cuatrimestre}" style="color: red"></span>
                    </div>
                </div>
            </div>
            <input class="btn btn_asig" type="submit" value="Guardar">
        </form>
    </div>
</main>
<footer>
    <h6>Creado por Carlos Castillo</h6>
</footer>
</body>
<script>
    function menu() {
        location.href = "/menu"
    }
</script>
</html>