<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Agregacion de nuevos Alumnos</h1>
<form action="#" th:action="@{updateasignaturaspost}" th:object="${asignatura}" method="post">
    <div style="display: flex; flex-direction: column">
        <input type="hidden" th:field="${asignatura.id}">
        <div>
            <label>Nombre</label>
            <input type="text" th:field="${asignatura.nombre}">
        </div>
        <div>
            <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" style="color: red"></span>
        </div>
        <div>
            <label>Curso</label>
            <input type="number" th:field="${asignatura.curso}">
        </div>
        <div>
            <span th:if="${#fields.hasErrors('curso')}" th:errors="*{curso}" style="color: red"></span>
        </div>
        <div>
            <label>Horas</label>
            <input type="number" th:field="${asignatura.horas}">
        </div>
        <div>
            <span th:if="${#fields.hasErrors('horas')}" th:errors="*{horas}" style="color: red"></span>
        </div>
        <div>
            <label>Cuatrimestre</label>
            <input type="number" th:field="${asignatura.cuatrimestre}">
        </div>
        <div>
            <span th:if="${#fields.hasErrors('cuatrimestre')}" th:errors="*{cuatrimestre}" style="color: red"></span>
        </div>
    </div>
    <input type="submit" value="submit">
</form>
</body>
</html>