<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
</head>
<body>
    <h1>Agregacion de nuevos Alumnos</h1>
    <form name="alumnos" id="alumnos" action="#" th:action="@{/addalumnospost}" method="post" onsubmit="process(event)">
        <div style="display: flex; flex-direction: column">
            <div>
                <label>Nombre</label>
                <input type="text" th:field="${alumno.nombre}">
                <div>
                    <span th:if="${#fields.hasErrors('alumno.nombre')}" th:errors="*{alumno.nombre}" style="color: red"></span>
                </div>
            </div>
            <div>
                <label>apellidos</label>
                <input type="text" th:field="${alumno.apellidos}">
                <div>
                    <span th:if="${#fields.hasErrors('alumno.apellidos')}" th:errors="*{alumno.apellidos}" style="color: red"></span>
                </div>
            </div>
            <div>
                <label>direccion</label>
                <input type="text" th:field="${alumno.direccion}">
                <div>
                    <span th:if="${#fields.hasErrors('alumno.direccion')}" th:errors="*{alumno.direccion}" style="color: red"></span>
                </div>
            </div>
            <div>
                <label>localidad</label>
                <input type="text" th:field="${alumno.localidad}">
                <div>
                    <span th:if="${#fields.hasErrors('alumno.localidad')}" th:errors="*{alumno.localidad}" style="color: red"></span>
                </div>
            </div>
            <div>
                <label>provincia</label>
                <input type="text" th:field="${alumno.provincia}">
                <div>
                    <span th:if="${#fields.hasErrors('alumno.provincia')}" th:errors="*{alumno.provincia}" style="color: red"></span>
                </div>
            </div>
            <div>
                <label>pais</label>
                <input type="text" th:field="${alumno.pais}">
                <div>
                    <span th:if="${#fields.hasErrors('alumno.pais')}" th:errors="*{alumno.pais}" style="color: red"></span>
                </div>
            </div>
            <div>
                <label>telefono</label>
                <input id="phone" type="tel" name="phone" value="" th:field="${alumno.telefono}"/>
                <div>
                    <span th:if="${#fields.hasErrors('alumno.telefono')}" th:errors="*{alumno.telefono}" style="color: red"></span>
                </div>
            </div>
        </div>
        <div>
            <div>
                <label>Asignaturas</label>
                <table>
                    <thead>
                        <th>Nombre</th>
                        <th>Curso</th>
                        <th>Horas</th>
                        <th>Cuatrimestre</th>
                    </thead>
                    <tbody>
                        <tr th:each="i : ${asignaturas}">
                            <th><span th:text="${i.nombre}"></span></th>
                            <th><span th:text="${i.curso}"></span></th>
                            <th><span th:text="${i.horas}"></span></th>
                            <th><span th:text="${i.cuatrimestre}"></span></th>
                            <th><input type="checkbox" th:value="${i.id}" name="asignaturas" ></th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <input type="submit" value="submit" onclick="prueba(event)">
    </form>
</body>
<script th:inline="javascript">
    const phoneInputField = document.querySelector("#phone");
    const phoneInput = window.intlTelInput(phoneInputField, {
        preferredCountries: ["de", "us", "in", "es"],
        utilsScript:
            "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
    });
    const form = document.getElementById("alumnos");
    function prueba(event){
        event.preventDefault();
        let phoneNumber = phoneInput.getNumber();
        document.alumnos.phone.value = phoneNumber;
        form.submit();
    }
</script>
</html>