<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../../static/css/comun.css" rel="stylesheet">
    <link th:href="${css_permisos}" rel="stylesheet">
    <link href="../../static/css/Alumnos/listalumnos.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="../../static/js/alumnosjs.js"></script>
</head>
<body>
<header>
    <h1>Colegio Universitario Internacional BITCOIN</h1>
    <input class="btn boton_menu" type="button" onclick="menu();" value="Menu">
</header>
<main>
    <div class="centro">
        <form id="listado" name="listado">
            <div class="tabla">
                <table>
                    <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Direccion</th>
                        <th>Localidad</th>
                        <th>Provincia</th>
                        <th>Pais</th>
                        <th>Telefono</th>
                        <th>Seleccion</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="i : ${alumnos}">
                        <th><span th:text="${i.nombre}"></span></th>
                        <th><span th:text="${i.apellidos}"></span>
                        </th>
                        <th><span th:text="${i.direccion}"></span>
                        </th>
                        <th><span th:text="${i.localidad}"></span></th>
                        <th><span th:text="${i.provincia}"></span></th>
                        <th><span th:text="${i.pais}"></span></th>
                        <th><span th:text="${i.telefono}"></span></th>
                        <th class="btn_tabla"><input type="radio" th:value="${i.id}" th:name="ids"></th>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="botones">
                <input class="sin_admin btn btn_update" id="update" type="submit" value="Actualizar" onclick="update()">
                <input class="sin_admin btn btn_delete" id="delete" type="submit" value="Borrar" onclick="deletes()">
                <input class="btn btn_asig" type="submit" id="asignaturas" value="Ver Asignaturas"
                       onclick="list_asignaturas()">
            </div>
        </form>
    </div>
</main>
<footer>
    <h6>Creado por Carlos Castillo</h6>
</footer>
</body>
<script th:inline="javascript">
    function menu() {
        location.href = "/menu"
    }
</script>
</html>