<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="${css_permisos}" rel="stylesheet">
</head>
<body>
<form id="listado" name="listado">
    <table>
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Direccion</th>
            <th>Localidad</th>
            <th>Provincia</th>
            <th>Pais</th>
            <th>Telefono</th>
            <th>Asignatura</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="i : ${alumnos}">
            <th><span th:text="${i.nombre}"></span></th>
            <th><span th:text="${i.apellidos}"></span></th>
            <th><span th:text="${i.direccion}"></span></th>
            <th><span th:text="${i.localidad}"></span></th>
            <th><span th:text="${i.provincia}"></span></th>
            <th><span th:text="${i.pais}"></span></th>
            <th><span th:text="${i.telefono}"></span></th>
            <th><input type="submit" th:value="${i.id}" th:name="id_alumno" onclick="asignaturas()"></th>
            <th><input class="sin_admin" type="radio" th:value="${i.id}" th:name="ids"></th>
        </tr>
        </tbody>
    </table>
    <input class="sin_admin" type="submit" value="Actualizar" onclick="update()">
    <input class="sin_admin" type="submit" value="Borrar" onclick="deletes()">
</form>
</body>
<script th:inline="javascript">
    const form = document.getElementById("listado");
    function update(){
        form.setAttribute('action', 'updatealumnosget')
        form.setAttribute('method', 'get')
    }
    function deletes(){
        form.setAttribute('action', 'delalumnospost')
        form.setAttribute('method', 'post')
    }
    function asignaturas(){
        form.setAttribute('action', 'asig_x_alumnos')
        form.setAttribute('method', 'get')
    }
</script>
</html>