.centro{
    background-color: #D7D7D7;
}

.centro h1{
    padding: 10px;
    font-size: 25px;
}

.labes{
    text-align: center;
    padding: 5px;
}

.tabla {
    margin-bottom: 10px;
}

.campos {
    display: inline-block;
}

