.centro{
    background-color: #D7D7D7;
}

.centro h1{
    padding: 10px;
    font-size: 25px;
}

.campo{
    width: 200px;
    justify-items: end;
}
.labes{
    text-align: center;
    padding: 5px;
}

.tabla{
    margin-bottom: 10px;
}

.formulario{
    display: flex;
    justify-content: space-between;
    width: 1300px;
}
.prueba{
    width: 10px;
}