<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Agregacion de nuevos Alumnos</h1>
<form action="#" th:action="@{/addusuariospost}" method="post">
    <div style="display: flex; flex-direction: column">
        <div>
            <span th:if="${#fields.hasErrors('usuario.nombre')}" th:errors="*{usuario.nombre}" style="color: red"></span>
        </div>
        <div>
            <label>Nombre</label>
            <input type="text" th:field="${usuario.nombre}">
        </div>
        <div>
            <span th:if="${#fields.hasErrors('usuario.password')}" th:errors="*{usuario.password}" style="color: red"></span>
        </div>
        <div>
            <label>Password</label>
            <input type="password" th:field="${usuario.password}">
        </div>
        <div>
            <label>Permisos</label>
            Admin<input type="radio" value="1" th:field="${usuario.permisos}">
            User<input type="radio" value="2" th:field="${usuario.permisos}">
        </div>
    </div>
    <input type="submit" value="submit">
</form>
</body>
</html>