<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 style="text-align: center"><span> Usted se ha loggeado como "ad o user"</span></h1>
<div style="display: flex; flex-wrap: wrap; flex-direction: row; align-content: space-between; justify-content: center">
    <div style="margin: 10px">
        <h3 style="text-align: center">Alumnos</h3>
        <div>
            <button><a style="text-decoration: none; color: black" href="/addalumnos">Add Alumnos</a></button>
            <button><a style="text-decoration: none; color: black" href="/listalumnos">Update Alumnos</a></button>
            <button><a style="text-decoration: none; color: black" href="/listalumnos">Delete Alumnos</a></button>
        </div>
    </div>
    <div style="margin: 10px">
        <h3 style="text-align: center">Asignaturas</h3>
        <div>
            <button><a style="text-decoration: none; color: black" href="/addasignaturas">Add Asignaturas</a></button>
            <button><a style="text-decoration: none; color: black" href="/listasignaturas">Update Asignaturas</a>
            </button>
            <button><a style="text-decoration: none; color: black" href="/listasignaturas">Delete Asignaturas</a>
            </button>
        </div>
    </div>
    <div style="margin: 10px">
        <h3 style="text-align: center">Usuarios</h3>
        <div>
            <button><a style="text-decoration: none; color: black" href="/addusuarios">Add Usuarios</a></button>
            <button><a style="text-decoration: none; color: black" href="/listusuarios">Update Usuarios</a></button>
            <button><a style="text-decoration: none; color: black" href="/listusuarios">Delete Usuarios</a></button>
        </div>
    </div>
</div>
</body>
</html>