<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/css/comun.css" rel="stylesheet">
    <link href="../static/css/loggin.css" rel="stylesheet">
</head>
<body>
<header>
    <h1>Colegio Universitario Internacional BITCOIN</h1>
</header>
<main>
    <div class="centro">
        <form action="#" th:action="@{/logged}" th:object="${user}" method="post">
            <label>BIENVENIDO</label>
            <div>
                <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" style="color: red"></span>
            </div>
            <div>
                <input type="text" th:field="${user.nombre}" placeholder="Nombre de Usuario">
            </div>
            <div>
                <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color: red"></span>
            </div>
            <div>
                <input type="password" th:field="${user.password}" placeholder="Contraseña">
            </div>
            <div>
                <input class="btn" type="submit" value="Entrar">
            </div>
        </form>
    </div>
</main>
<!--<footer>-->
<!--    <h6>Creado por Carlos Castillo</h6>-->
<!--</footer>-->
</body>
</html>